nav {
  text-align: center;
  color: #FFDC00;
}

h1 {
  text-align: center;
  color: #FFDC00;
}

h2, h3, h4 {
  font-family: 'Arial';
  font-weight: bold;
  color: #FFDC00;
}

.global-header {
  justify-content: center;
  color: #FFDC00;
}

p, label {
  color: #FFDC00;
}

a:link {
  color: #FFDC00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.hide {
    display: none;
}

.ad-container {
  display: flex;
  flex-wrap: wrap;
}

.ad-box {
  padding: 10px;
  margin: 10px;
  border: 2px solid yellow;
  width: calc(33.33% - 20px);
  background-color: rgba(0, 0, 255, 0.285);
}
